<section class="hero">
	<div class="container hero__container">
		<ul class="list-reset hero__list">
			<li class="hero__item">
				<img
					loading="lazy"
					src="./img/certificate-small.png"
					class="image hero__image open-slider-elem"
					width="150"
					height="211"
					alt="Сертификат маленький"
				/>
			</li>
			<li class="hero__item">
				<img
					loading="lazy"
					src="./img/certificate-small.png"
					class="image hero__image open-slider-elem"
					width="150"
					height="211"
					alt="Сертификат маленький"
				/>
			</li>
		</ul>
		<div class="hero__container-slider">
			<div class="swiper hero__slider">
				<div class="swiper-wrapper hero__wrapper">
					<div class="swiper-slide hero__slide">
						<img
							loading="lazy"
							src="./img/certificate.png"
							class="image hero__image-slider"
							width="482"
							height="678"
							alt="Сертификат большой"
						/>
					</div>
					<div class="swiper-slide hero__slide">
						<img
							loading="lazy"
							src="./img/certificate.png"
							class="image hero__image-slider"
							width="482"
							height="678"
							alt="Сертификат большой"
						/>
					</div>
					<div class="swiper-slide hero__slide">
						<img
							loading="lazy"
							src="./img/certificate.png"
							class="image hero__image-slider"
							width="482"
							height="678"
							alt="Сертификат большой"
						/>
					</div>
					<div class="swiper-slide hero__slide">
						<img
							loading="lazy"
							src="./img/certificate.png"
							class="image hero__image-slider"
							width="482"
							height="678"
							alt="Сертификат большой"
						/>
					</div>
				</div>
			</div>
			<button class="btn-reset hero__button-close" id="closeSliderButton">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					version="1.1"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					xmlns:svgjs="http://svgjs.com/svgjs"
					width="512"
					height="512"
					x="0"
					y="0"
					viewBox="0 0 512 512"
					style="enable-background: new 0 0 512 512"
					xml:space="preserve"
				>
					<g>
						<g data-name="02 User">
							<path
								d="M25 512a25 25 0 0 1-17.68-42.68l462-462a25 25 0 0 1 35.36 35.36l-462 462A24.93 24.93 0 0 1 25 512z"
								fill="#000000"
								data-original="#000000"
							></path>
							<path
								d="M487 512a24.93 24.93 0 0 1-17.68-7.32l-462-462A25 25 0 0 1 42.68 7.32l462 462A25 25 0 0 1 487 512z"
								fill="#000000"
								data-original="#000000"
							></path>
						</g>
					</g>
				</svg>
			</button>
		</div>
	</div>
</section>
